<h1 class="jumbotron"> Species!!! </h1>
<ul>
  <% @specieses.each do |species| %>
    <li>
      <form method="post" action="species/<%= species.id %>">
        <a href="species/<%= species.id %>"><%= species.name %></a>
        <input type="hidden" name="_method" value="delete">
        <button id="destroy">DESTROY!</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="species/new">Add a species</a></p>
